<h1><%= @flat.name %></h1>
<p><%= @flat.address %></p>
<p><%= @flat.description %></p>
<p><%= @flat.price_per_night %></p>
<p><%= @flat.number_of_guests %></p>

<p><%=link_to 'Go back', flats_path(@flat), class: "btn btn-primary"%></p>
<p><%=link_to 'Edit', edit_flat_path(@flat), class: "btn btn-primary"%></p>
<p><%=link_to 'Delete', flat_path(@flat), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %></p>
